<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Jogo da Velha</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>


    <section class="tabuleiro">
        <button class="posicao" data-posicao="0">X</button>
        <button class="posicao" data-posicao="1">O</button>
        <button class="posicao" data-posicao="2">O</button>

        <button class="posicao" data-posicao="3">X</button>
        <button class="posicao" data-posicao="4">O</button>
        <button class="posicao" data-posicao="5">X</button>

        <button class="posicao" data-posicao="6">O</button>
        <button class="posicao" data-posicao="7"></button>
        <button class="posicao" data-posicao="8"></button>
    </section>

    <div class="painel">
        <form id="formCriarPartida">
            <label for="fname">Seu Nome:</label><br>
            <input type="text" name="fnome"><br>
            <button class="btnPainel" type="submit">Criar Partida</button>
          </form> 

          <form id="formEntrarPartida">
            <p>Codigo da sua partida: <span id="codPartida"></span></p>
            <input type="text" name="fcodPardida" placeholder="Codigo do seu amigo"><br>
            <button class="btnPainel" type="submit">Entrar na Partida</button>
          </form>
          <div id="placar">
              <p> <span id="plJogadorLocal"></span> X <span id="plJogadorFora"></span></></p>           
          </div>
          <p>Vez do Jogador: <span id="nomeJogadorDaVez"></span></p>
    </div>

    <script type="text/javascript" src="lib/signalr/signalr.js"></script>
    <script type="text/javascript" src="js/site.js"></script>
</body>
</html>
