:root {
    --cinza: #aaa;
    --vermelha: #e93d50;
    --vermelha-escura: #af303f;
    --branca: #fff;
    --luz: rgb(229, 255, 0);
}

body {
    background: linear-gradient(45deg, #a7cfdf 0%,#23538a 100%);
    font-family: 'Montserrat', sans-serif;
}

#main {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    color: var(--branca);
    margin-bottom: 20px;
    font-size: 2rem;
}

.tabuleiro {
    background: linear-gradient(to bottom, #0e0606 0%,#120909 100%);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}

.posicao {
    background-color: var(--branca);
    color: var(--vermelha);
    cursor: pointer;
    height: 120px;
    font-size: 60px;
    font-weight: bold;
    line-height: 120px;
    text-align: center;
    width: 120px;
}


.painel {
    color: #080505;
    position: absolute;
    transform: translateX(-440px);
    padding: 30px;
    border: 10px solid #000000;
    border-radius: 10px;
}

.painel * {
    font-size: 22px;
    margin-bottom: 20px;
}

#formEntrarPartida {
    display: none;
}

.btnPainel {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 0;
}

.btnPainel:hover {
    background-color: #292929
}

.btnPainel:active {
    background-color: #292929;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#placar {
    display: none;
}

#statusAdversarioModal {
    margin-top: 20px;
}

footer {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    transform: translateY(-100px);
}

footer a {
    text-decoration: underline;
}


@media (max-width: 500px) {
    #main {
        transform: scale(0.8);
    }

    footer {
        font-size: 16px;
        position: absolute;
        transform: translateY(5px);
    }
}

@media (max-width: 1250px) {
    .painel {
        transform: translateX(0);
        transform: translateY(-286px);
    }

    .tabuleiro {
        transform: translateY(70px);
    }
}

@media (max-width: 320px) and (max-height : 780px) {
    #main {
        transform: scale(0.55);
    }

    #main {
        font-size: 18px;
        transform: translateY(158px);
    }
}

@media (max-width: 375px) and (max-height : 780px) {
    #main {
        transform: scale(0.55);
    }

    footer {
        font-size: 18px;
        transform: translateY(158px);
    }
}
